/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/examples/rails/log/*.log
/examples/rails/tmp/
/log/
/pkg/
/spec/reports/
/spec/dummy/log/
/spec/dummy/tmp/
/tmp/

# Ignore lock files (e.g. Gemfile.lock)
*.lock

# rspec failure tracking
.rspec_status

# Ignore dotenv files, exclude example files:
*.env
!*example.env